*{
  margin: 0;
  padding: 0;
}
body{
  
  background-color: #fff7ed;
  font-family: "Poppins, sans-serif";
  color: #333;    
 
}
.container {
  margin: auto;
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header{
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.logo{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logopic{
  height: 50px;
  
}
.nav-menu{
  /* background-color: blue; */
  color:black;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  
}
.tryforfree{
  color: white;
  background-color: #fb923c;
  border-radius: 8px;
  padding: 8px;
  width: 150px;
  font-size: 19px;
  border-style: none;
}
.tryforfree:hover{
  background-color:#ea580c ;
}
.hero{
  display: flex;
  margin-bottom: 50px;
  font-family: "Rubik", sans-serif;
  /* margin: auto;
  width: 1200px; */
  margin: 0 auto;
  
  
}
.leftsection{
  /* background-color: blue; */
  /* height: 100vh; */
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: start;
  margin-top: 50px;
  margin-right: 50px;
}
.leftblock{
  /* background-color: white; */
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}
.leftblock h1 {
  font-size: 47px;
  text-align: start; 
  /* width: 580px; */
}
.headline{
  /* background-color: red; */
  padding: 15px;

}
.leftblockparagraph{
  /* background-color: green; */
  font-size: 25px;
  padding: 15px;
  /* width: 580px; */
  line-height: 1.5; /* ili 120% */
  
  
  /* width: 700px; */
  /* margin-left: 60px; */

}
.leftblockbtn{
  /* background-color: yellow; */
  display: flex;
  justify-content: start;
  align-items: center;
  /* width: 100%; */
  gap: 30px;
  /* margin-left: 60px; */
  /* width: 580px; */
  margin-bottom: 15px;
  padding: 10px;

}
.btn1{
  color: white;
  background-color: #fb923c;
  border-radius: 10px;
  padding: 11px;
  /* width: 250px; */
  font-size: 25px;
  border-style: none;
}
.btn1:hover{
  background-color: #ea580c;
}
.btn2{
  color: #475569;
  background-color: white;
  border-radius: 10px;
  padding: 11px;
  /* width: 250px; */
  font-size: 25px;
  border-style: none;
}
.btn2:hover{
  background-color: #f5f5f5;
}
.deliveryview{
  /* background-color: green; */
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* width: 700px; */
  /* margin-left: 60px; */
  gap: 250px;
  /* width: 580px; */
}
.icons{
  background-color: red;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* width: 250px;   */
}
.iconsimg:hover{
  margin-bottom: 30px;
}

.iconsimg{
  border-radius: 9999px;
  height: 50px;
  position: absolute;
}
.icons-p{
  font-size: 20px;
}

.icons-p span{
  color: #ea580c;
}
.abslt1{
  left: 5px;
}
.abslt2{
  left: 35px;
}
.abslt3{
  left: 75px;
}
.abslt4{
  left: 115px;
}
.abslt5{
  left: 155px;
}

.rightsection{
  /* background-color: yellow; */
  /* height: 100vh; */
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: start;
}
.rightblockimg{
  /* background-color: white; */
  height: 600px;
  margin-top: 50px;
}


.mobile{
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: whitesmoke;
  padding-left:400px;
  padding-right: 400px;
}

.logs{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.AsFeaturedIn{
  margin-top: 30px;
}
.logsimg{
  display: flex;
  justify-content: center;
  gap:50px;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
}
.logspicture{
  width: 200px;
  
}
.mobilehead{
  display: flex;
  flex-direction: column;
 
}
  
  
  

.mobilehead h1{
  font-size: 50px;
}
.mobilehead h4{
  font-size: 20px;
  color: #ea580c;
  margin-bottom: 10px;
}
.steps{
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  /* grid-template-rows: repeat(3, 33%%); */
  
  gap: 100px;

  
}


.numberone .one{
  font-size: 70px;
  color: #9ca3af;
}
.numberone .tellus{
  font-size: 30px;
  margin-bottom: 15px;
  
}
.neveragain{
  width: 500px;
  /* background-color: orange; */
  font-size: 22px;
}
.numbertwo{
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.cyrcle1{
  height: 350px;
  width: 350px;
  background-color: #ffedd5;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cyrcle2{
  background-color: #fed7aa;
  height: 250px;
  width: 250px;
  border-radius: 9999px;
}
.apiscreen{
  height: 400px;
  position: absolute;

}

.form{
  background-color: #fb923c;
  margin: auto;
  height: 500px;
  width: 1200px;
  display: flex;
  margin-top: 100px;
  border-radius: 20px;
 
  
}
.eating{
  width: 400px;
  height: 500px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.leftpartform{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 800px;
  gap: 50px;
}

.forminput{
  /* background-color: red; */
  height: 250px;
  width: 700px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  
}
.formheadandparag{
  background-color: #fb923c;
  /* height: 150px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  width: 700px; 
  gap: 30px;
}
.headd{
  font-size: 50px;
}
.parap{
  font-size: 22px;
}
.name{
  display: flex;
  flex-direction: column;
  gap: 13px;
  
}
.inputname{
  width: 250px;
  height: 30px;
  border-radius: 7px;
  border-style: none;
  padding: 10px;
}

.signup{
  width: 250px;
  border-radius: 10px;
  border-style: none;
  background-color: #44403c;
  color: white;
  padding: 10px;
  font-size: 25px;
  display: flex;
  align-items: start;
  justify-content: start;
}
.btnsignup{
  display: flex;
  justify-content: start;
  align-items: start;

}
.name{
  font-size: 20px;
}
.signup:hover{
  background-color: white;
  color: black;
}
.select{
  height: 50px;
  width: 270px;
  border-radius: 8px;
}